@import '../styles/_global-variables.sass'

@keyframes scroll-movies
  0%
    top: -$movie-height
    opacity: 0
  60%
    top: 15px
    opacity: 1
  80%
    top: -5px
@keyframes scroll-suggested
  0%
    top: -$movie-height
    opacity: 0
  75%
    top: 0
    opacity: 1

\:host
  // Display
  display: inline-block
  position: absolute
  left: 0px
  right: 0px

.wrapper
  // Position
  margin-left: auto
  margin-right: auto
  // Display
  width: $movie-width*2
  // Misc
  transition: all 0.15s
  cursor: default
  @media only screen and (min-width: $movie-width*4)
    // Display
    width: $movie-width*4
  .suggestions-container
    // Position
    position: relative
    z-index: 10
    top: 0px
    // Display
    opacity: 1
    // Misc
    animation: scroll-movies 0.7s ease-in-out
  .suggested
    // Position
    position: relative
    z-index: 10
    top: 0px
    // Display
    opacity: 1
    padding: 15px 0px 15px 15px
    // Color
    color: $color-secondary
    // Text
    font-size: 2em
    font-weight: bold
    // Misc
    animation: scroll-suggested 0.7s ease-in-out

.back
  // Position
  position: relative
  top: 20px
  height: 0px
  z-index: 60
  margin-right: 15px
  // Color
  color: $color-secondary
  // Text
  font-size: 3em
  text-align: right
  // Misc
  cursor: pointer
  @media only screen and (min-width: $movie-width*4)
    // Position
    height: auto
    margin-top: 5px
    position: static

.movie-detail-container
  // Position
  position: relative
  z-index: 20
  // Display
  width: 100%
  // Color
  color: $color-primary
  .image-area
      // Position
      position: relative
      // Display
      $image-area-padding: 25px
      display: flex
      justify-content: center
      overflow: hidden
      padding: $image-area-padding
      .reflection
        // Position
        position: absolute
        top: ($movie-height+$image-area-padding)
        // Display
        display: block
        opacity: 0.55
        // Misc
        transform: scaleY(-1)
      @media only screen and (min-width: $movie-width*4)
        // Position
        margin-bottom: 0px
        // Display
        padding: 0px
        .reflection
          // Display
          display: none
  @media only screen and (min-width: $movie-width*4)
    // Display
    display: flex
    flex-direction: row
  .info
    // Display
    flex: 1
    display: flex
    flex-direction: column
    padding: 10px
    // Color
    background-color: $color-secondary
    .name
      // Text
      font-size: 2em
      font-weight: bold
      text-align: center
    .description
      // Display
      padding: 15px
      // Text
      text-align: justify
    .genres
      // Position
      margin-top: 10px
      margin-bottom: 15px
      &-genre
        // Position
        margin-right: 5px
        // Display
        padding: 6px
        border-radius: 5px
        // Color
        background-color: $color-tertiary-highlight
        color: $color-secondary-highlight
    .text
      // Display
      flex: 1
    .meta
      // Display
      display: flex
      height: auto
      flex-direction: row
      border-radius: 10px
      padding: 5px
      // Color
      background-color: $color-primary
      .rate
        // Display
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        // Color
        color: $color-secondary
        // Text
        font-weight: bold
        font-size: 1.5em
      .length
        // Display
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        border-right: $color-secondary
        border-right-style: solid
        // Color
        color: $color-secondary
        // Text
        font-weight: bold
        font-size: 1.5em
