<div class="wrapper" >
  <div class="search">
    <input #searchInput (keyup)="onKey(searchInput.value)" placeholder="Search..."/>
  </div>
  <app-movies-filters></app-movies-filters>
  <div *ngIf='(moviesFiltered$ | async)?.length > 0' class='movies-container'>
    <app-movie *ngFor='let movie of moviesFiltered$ | async' [movie]='movie'></app-movie>
  </div>
  <div *ngIf='!((moviesFiltered$ | async)?.length > 0)' class="loader">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div></div>
  </div>
</div>
