@import '../styles/_global-variables.sass'

@keyframes appear
  0%
    opacity: 0
  100%
    opcaity: 1
@keyframes bouncedelay
  0%, 80%, 100%
    -webkit-transform: scale(0)
    transform: scale(0)
  40%
    -webkit-transform: scale(1.0)
    transform: scale(1.0)

\:host
  // Display
  display: inline-block
  position: absolute
  left: 0px
  right: 0px

.wrapper
  // Position
  margin-left: auto
  margin-right: auto
  // Display
  width: $movie-width*2
  // Misc
  cursor: default
  @media only screen and (min-width: $movie-width*4)
    // Display
    width: $movie-width*4
  .search
    // Position
    margin-bottom: 15px
    margin-top: 10px
    // Text
    text-align: right
    span
      // Color
      color: $color-primary-highlight
      // Text
      font-size: 2em
    input
      // Position
      margin-right: 5px
      // Display
      padding: 8px 14px
      box-sizing: border-box
      border: 1px solid transparent
      border-radius: 10px
      // Color
      color: white
      background-color: $color-tertiary
      &:focus
        // Display
        outline: none
  .movies-container
    // Display
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    // Misc
    animation: appear 0.2s ease-in
  .loader
    // Position
    margin: 75px auto 0
    // Text
    text-align: center
    div
      // Position
      margin: 0px 10px 0px 10px
      // Display
      width: 18px
      height: 18px
      display: inline-block
      border-radius: 100%
      // Color
      background-color: $color-primary-highlight
      // Misc
      animation: bouncedelay 1.4s infinite ease-in-out both
    .circle1
      // Misc
      animation-delay: -0.32s
    .circle2
      // Misc
      animation-delay: -0.16s

