@import '../styles/_global-variables.sass'

.filters
  // Display
  display: flex
  flex-wrap: wrap
  .filter
    // Display
    flex: 1
    padding: 10px 6px 10px 6px
    vertical-align: center
    // Color
    color: $color-primary-highlight
    background-color: $color-primary
    // Text
    text-align: center
    font-size: 0.75em
    // Misc
    cursor: pointer
    -webkit-transition: background-color 0.25s, color 0.25s
    transition: background-color 0.25s, color 0.25s
    &-selected
      // Color
      color: $color-secondary
      background-color: $color-tertiary-shadow
    &:hover
      // Color
      background-color: $color-tertiary-additional

