/* You can add global styles to this file, and also import other style files */

@import './app/styles/_global-variables.sass'

html
  // Display
  height: 100%
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll
  overflow-x: hidden
body
  // Display
  background: -webkit-linear-gradient(bottom, $color-tertiary 0%, $color-primary 500px)
  background: linear-gradient(to top, $color-tertiary 0%, $color-primary 500px)
  background-color: $color-tertiary
  background-repeat: no-repeat
  // Color
  color: $color-secondary
  // Text
  font-family: Verdana, Geneva, Tahoma, sans-serif
a
  // Text
  text-decoration: none
