@import '../styles/_global-variables.sass'

.movie
  // Position
  float: left
  // Display
  width: $movie-width
  height: $movie-height
  img
    // Display
    width: $movie-width
    height: $movie-height
  .hoverinfo
    // Position
    position: relative
    bottom: 14px
    // Display
    display: flex
    justify-content: center
    align-items: center
    height: 0
    width: auto
    padding: 5px
    opacity: 0
    // Color
    color: #fff
    background-color: #000000
    // Text
    text-decoration: none
    text-align: center
    // Misc
    -webkit-transition: opacity 0.25s, height 0.25s, bottom 0.25s
    transition: opacity 0.25s, height 0.25s, bottom 0.25s
  &:hover
    .hoverinfo
      // Position
      bottom: 63px
      // Display
      height: 50px
      opacity: 0.9
