<div class='movie'>
  <a routerLink="/movie/{{movie.id}}">
    <img src="../../assets/images/movie-covers/{{movie.img}}" />
      <div class="hoverinfo">
        {{movie.name}}
      </div>
  </a>
</div>
